/* Header styles */
#header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

#header_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#header_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#header ul {
    list-style-type: none;
    padding: 0;
}

#header ul li {
    display: inline;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#header a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}

#prijava {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin-bottom: 11px;
}

#prijava:hover {
    background-color: #525151;
    border-radius: 5px;
}

#header ul li:hover {
    background-color: #525151;
}

/* Dropdown menu styles */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #525151;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    left: 0; /* Align submenu with left edge of parent */
    top: 2.2em;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: rgb(109, 109, 109);
}

.dropdown:hover .dropdown-content {
    display: block;
}

#header_search{
    display: inline-block; /* Make the div shrink-wrap its content */
    padding: 0px;
    border: 1.5px solid white;
    border-radius: 5px;
    margin-bottom: 11px;
}

form {
    border: none;
    margin: 0;
    padding: 0;
}

    /* Style for search input */
input[type="text"] {
    background-color: #333;
    color: white;
    border: none;
    font-size: 16px;
    padding: 10px;
    width: 190px;
}

input[type="text"]:focus {
    outline: none;
}

/* Style for search glass image */
#search_glass {
    height: 20px;
    width: auto;
    margin-right:0.5em;
    margin-bottom: -0.4em;
}

#kosarica{
    height:40px;
    width:auto;
}

#kosarica_container {
    position: relative;
    display: inline-block;
}

#st_kosarica {
    position: absolute;
    top: 0;
    left: 0;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px;
    font-size: 0.8em;
    width: 15px;
    height: 15px;
    text-align: center;
    line-height: 15px;
}

#footer{
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Za mobitel */
@media (max-width: 600px) {
    input[type="text"] {
        background-color: #333;
        color: white;
        border: none;
        font-size: 14px;
        padding: 10px;
        width: 50px;
    }
}

/* Za tablice */
@media (min-width: 601px) and (max-width: 768px) {
    input[type="text"] {
        background-color: #333;
        color: white;
        border: none;
        font-size: 16px;
        padding: 10px;
        width: 100px;
    }
}

/* Za računalnike */
@media (min-width: 769px) {
    input[type="text"] {
        background-color: #333;
        color: white;
        border: none;
        font-size: 16px;
        padding: 10px;
        width: 190px;
    }
}

