/* Reset default margin and padding */
body, h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

#container {
    width: 80%;
    background-color: #272727;
    color: #fff;
    margin: 0 auto;
    min-height: 85vh;
    display: flex;
    flex-direction: column;
}

h2, h1{
    padding:10px;
    text-align: center;
}

/* Za mobilne naprave */
@media (max-width: 600px) {
  body {
    font-size: 14px;
  }
  .container {
    padding: 10px;
  }
}

/* Za tablice */
@media (min-width: 601px) and (max-width: 768px) {
  body {
    font-size: 16px;
  }
  .container {
    padding: 20px;
  }
}

/* Za računalnike */
@media (min-width: 769px) {
  body {
    font-size: 18px;
  }
  .container {
    padding: 30px;
  }
}