/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 90%;
    max-width: 25em;
    margin: 0 auto;
    padding: 1.25em;
    background: #fff;
    border-radius: 0.3em; 
    box-shadow: 0 0 0.625em rgba(0, 0, 0, 0.3);
    text-align: center;
    position: relative;
}

h2 {
    color: #333;
    margin-bottom: 1.25em;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.625em;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 0.625em;
    margin: 0.3125em 0;
    border: 0.0625em solid #ccc;
    border-radius: 0.1875em;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    padding: 0.625em;
    background: #333;
    color: white;
    border: none;
    border-radius: 0.1875em;
    cursor: pointer;
    transition: background 0.3s ease;
}

input[type="submit"]:hover {
    background: #555;
}

p {
    margin-top: 1.25em;
}

a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #555;
}

.links {
    display: flex;
    justify-content: space-between;
    margin-top: 1.25em;
}


input::placeholder {
    color: #999;
    opacity: 1;
}
